html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  word-wrap: break-word;
  font-size: large;
}
h2{
  color:grey;
  font-size: medium;
}
.site{
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}
.post{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px groove lightgray;
  max-width: 60%;
}
.date{
  display: flex;
  color:grey;
}
.mid{
  display:flex;
  flex-direction: column;
  justify-content: left;
  flex: 40%;
}

